@using AutoRep.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<SUser> SignInManager
@inject UserManager<SUser> UserManager

@model AutoRep.Models.UserRequest
@{
    ViewData["Title"] = "Создать";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Создать</h1>
    <h4>Запрос</h4>
}
else
{
    <h1>Подать</h1>
    <h4>Заявку</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkType" class="control-label"></label>
                <div>@Html.ListBoxFor(x => x.WorkTypeIds, new MultiSelectList(ViewBag.WorkTypeBag, "Id", "Name"), new { @class = "form-control", id = "multipleSelectWorkType", multiple = "multiple" })</div>
                <span asp-validation-for="WorkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () {
        $("#multipleSelectWorkType").chosen(
            {
                disable_search_threshold: 10,
                no_results_text: "Не найдено: ",
                placeholder_text_multiple: "Услуги"
            }
        );
    });
    </script>
}