@model AutoRep.Models.UserRequest

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Запрос</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col">
            <label asp-for="WorkType" class="control-label"></label>
            <div>@Html.ListBoxFor(x => x.WorkTypeIds, new MultiSelectList(ViewBag.WorkTypeBag, "Id", "Name"), new { @class = "form-control", id = "multipleSelectWorkType", multiple = "multiple" })</div>
            <span asp-validation-for="WorkType" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="Message" class="control-label"></label>
            <input asp-for="Message" class="form-control" />
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col px-0">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#multipleSelectWorkType").chosen(
                {
                    disable_search_threshold: 10,
                    no_results_text: "Не найдено: ",
                    placeholder_text_multiple: "Услуги"
                }
            );
        });
    </script>
}