/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*#fcc626 - main
*/

body {
    background-color: #f5f5f5;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #3131B0;
}

a {
    color: #3131B0;
}
/* Provide sufficient contrast against white background */
table a {
    color: #fcc626;
    -webkit-text-stroke: .01em black;
}

footer a {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #3131B0;
}


.nav-link{
    font-size: 18px;
    color:black;
}

.btn-primary {
    background-color: #fcc626;
    border-color: #fcc626;
    color: black;
}
.btn-info {
    background-color: #fcc626;
    border-color: #fcc626;
    color: black;
}
.btn-primary:hover {
    background-color: #f9ca41;
    border-color: #f9ca41;
    color: black;
}
.btn-info:hover {
    background-color: #f9ca41;
    border-color: #f9ca41;
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #fcc626;
    border-color: #8f7014;
    color: black;
}
.navbar {
    background-color: #fcc626;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #fcc626;
}

.table-light {
    background-color: #c1c1c1;
}

.pagination > li > a {
    background-color: white;
    color: #343a40;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: #fcc626;
        background-color: #eee;
        border-color: #fcc626;
    }

.pagination > .active > a {
    color: black;
    background-color: #3AAACF !Important;
    border: solid 1px #3AAACF !Important;
}

    .pagination > .active > a:hover {
        background-color: #fcc626 !Important;
        border: solid 1px #fcc626;
    }

.page-item.active .page-link {
    background-color: #fcc626;
    border-color: #fcc626;
    color:black;
}


.table-menu {
    color: white;
}

.table-light {
    background-color: #35363a;
}

td {
    color:white;
}

.table-dark {
    background-color: #737376;
}
