@model AutoRep.Models.MachineParts

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Создать</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col"></div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="w-100"></div>
        <div class="form-group col">
            <label asp-for="Cost" class="control-label">Стоимость</label>
            <div class="input-group">
                <input asp-for="Cost" class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text">BYN</span>
                </div>
            </div>
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Discription" class="control-label"></label>
            <input asp-for="Discription" class="form-control" />
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>
    </div>
        <div class="form-group col px-0">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}