@{
    ViewData["Title"] = "О нас";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="text-center">Мы на карте</h3>
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps/org/avtoservis_avtotekhtsentr/167732148758/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Автосервис, автотехцентр</a><a href="https://yandex.by/maps/157/minsk/category/auto_repair_shop/184105246/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосервис, автотехцентр в Минске</a><iframe src="https://yandex.by/map-widget/v1/-/CCU5FJCg8A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        <div class="col">
            <h3 class="text-center">Наши телефоны</h3>
            <p>
                +375(29)113-43-43
            </p>
            <p>
                +375(33)307-83-38
            </p>
            <p>
                8(029)775-26-01
            </p>
            <h3 class="text-center">Наш адресс</h3>
            <p>
                Беларусь, Минск, Партизанский просп., 178
                эт. 1, оф. 5
            </p>
        </div>
    </div>
</div>
<p class="my-2 mx-3">Программа разработана Жгуновским Олегом из группы 38-тп</p>